<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="email-heading">
            <h1>Dziękujemy za Twoje zamówienie z {{var store.getFrontendName()}}.</h1>
            <p>Możesz sprawdzić jego status po <a href="{{store url="customer/account/"}}">zalogowaniu do swojego konta</a>.</p>
        </td>
        <td class="store-info">
            <h4>Masz pytanie?</h4>
            <p>
                {{depend store_phone}}
                <b>Zadzwon:</b>
                <a href="tel:{{var phone}}">{{var store_phone}}</a><br>
                {{/depend}}
                {{depend store_hours}}
                <span class="no-link">{{var store_hours}}</span><br>
                {{/depend}}
                {{depend store_email}}
                <b>Napisz e-mail:</b> <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{/depend}}
            </p>
        </td>
    </tr>
</table>