<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$customer.name}},</h1>
            <p>W celu zalogowania się w sklepie, po prostu użyj linku <a href="{{store url="customer/account/"}}">Zaloguj</a> lub <a href="{{store url="customer/account/"}}">Moje konto</a> na górze strony, następnie wpisz swój adres e-mail oraz hasło.</p>
            <p>Po zalogowaniu do swojego konta, możesz:</p>
            <ul>
                                <li>Szybciej dokonywać zakupów</li>
                                <li>Sprawdzać status zamówienia</li>
                                <li>Przeglądać poprzednie zamówienia</li>
                                <li>Dokonywać korekty swoich danych</li>
                                <li>Zamienić hasło</li>
                                <li>Zapisać dodatkowe adresy (aby wysyłać zakupy do wielu znajomych i rodziny!)</li>
            </ul>
            <p>
                Jeżeli masz jakiekolwiek pytania dotyczące Twojego konta lub innej kwestii związanej ze sklepem, wyślij nam wiadomość:
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} lub skontaktuj się telefonicznie <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
